<!--
Denna HTML hämtas om man försöker nå en endpoint man inte är tillåten att visa alternativt som inte finns
En errorsida som säger att man inte kan gå in på denna sida, skickar med jinja2 title (405 Error eller 404 Error)
Sedan skickar den med hjälp av javascript dig vidare till "/" efter 10 sekunder (så man hinner läsa vad som står)
-->

{% extends "layout.html" %}
{% block header %}
{% endblock %}
{% block content %}
    <meta http-equiv="Refresh" content="10;url=/">
    <br>
    <br>
    <h1 class="text-outline text-center">ERROR</h1>
    <br>
    <h3 class="text-outline text-center">You either have entered an artist that doesnt exist or have the wrong
        API-key</h3>
    <br>
    <div id="countdown" class="text-center">
        <p id="countdown-text" class="text-outline">Sending you back in <span id="countdown-number">10</span> seconds
        </p>
        <p class="text-outline">If the problem keeps happening, logout and enter your API-keys again by <a
                href="/login">clicking here</a></p>
        <p class="text-outline">If it's not sending you back you can <a href="/">click here</a></p>
    </div>
    <br>

    <!-- Tagit hjälp av stackoverflow och w3schools (tex https://www.w3schools.com/howto/howto_js_countdown.asp) för att skapa denna -->
    <script>
        var countdown = 11; // Startar timer (pga delay när man kommer till sidan +1 sekund)

        function updateCountdown() {
            var countdownNumber = document.getElementById("countdown-number");

            // If-sats precis som i python för att räkna ned
            if (countdown > 0) {
                countdown--;
                countdownNumber.textContent = countdown;
                setTimeout(updateCountdown, 1000); // Uppdateras varje sekund
            } else {
                window.location.href = "/"; // När inga sekunder finns att räkna = skicka vidare till "/"
            }
        }

        updateCountdown(); // Startar
    </script>
{% endblock %}